.navMenu{
    background-color: rgb(34, 34, 34);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #e7e7e7;
}

li {
    float: left;
}
.right{
    float: right
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
    font-weight: 500;
}



.active {
    background-color: #ddd;
  
   
}